@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    button {
        transition: opacity 0.3s ease-out;
    }

    button:hover {
        opacity: .95;
    }

    button>div {
        transition: translate 0.3s ease-out;
    }

    .toggleButton>div {
        translate: -132%;
    }


}

body {
    background: url('./assets/main.svg') no-repeat center center fixed;
}

::-webkit-scrollbar {
    width: 0;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(66, 66, 66);
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    background-color: $clr-white;
}

::-webkit-scrollbar {
    position: absolute;
    width: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $clr-black;
}


.activeMenu {
    opacity: 1;
    bottom: 0;
}

.activButton {
    rotate: -90deg;
}
